/* =========================================================
   SECTIONS
========================================================= */

.section {
    padding: 110px 0;
}

.section-heading {
    max-width: 650px;
    margin: 0 auto 60px;
    text-align: center;
}

.section-heading h2 {
    margin-bottom: 18px;
    color: var(--navy);
}
