/* =========================================================
   EDUCATOR
========================================================= */

.educator-section {
    background: var(--white);
}

.educator-border {
    stroke: var(--navy);
    stroke-width: 4;
    opacity: 0.8;
    fill: transparent;   
}

.educator-back {
    stroke-width: 4;
    opacity: 0.8;
    fill: var(--off-white);   
}


.educator-card {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: var(--navy);
    border: 0px solid orange;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.educator-image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 40px;
    background: var(--orange);
    /*opacity: 0.5;*/
}

.educator-placeholder {
    width: min(100%, 280px);
   /*border: 5px solid green;*/
}

.educator-info {
    padding: 55px;
}

.educator-info h3 {
    margin-bottom: 10px;
    color: var(--white);
    font-size: 2.3rem;
}

.qualification {
    color: var(--yellow);
    font-weight: 700;
}

.awards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 30px;
}

.award {
    padding: 13px 18px;
    color: var(--navy);
    background: var(--white);
    border-radius: var(--radius-small);
    font-weight: 900;
}

.award small {
    color: var(--muted);
    font-weight: 600;
}
