/* =========================================================
   LOCATION
========================================================= */

.location-section {
   
    padding: 0px 0;
    color: var(--white);
    background: var(--white);
   
}

.location-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0px;
}

.location-content {
    width: 100%;
    text-align: center;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.location-content h3 {
    color: var(--yellow);
    font-size: 1.7rem;
}

.location-content p {
    color: rgba(255, 255, 255, 0.72);
}

.location-address {
    font-size: 1rem;
}

.i-gploc2 {
    max-width: 125px;
    height: auto;
    display: block;
    margin: 0 auto;
    width: min(90%, 125px);
}

.svg-borderloc {
    border: 5px solid orange;
}

.location-box {
    width: 100%;
    max-width: 900px
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    background: var(--navy);
   /*
    background:
        linear-gradient(
            135deg,
            var(--orange-light),
            #ffffff
        );
    */
    border-radius: var(--radius);
align-items: center;
border: 2px solid var(--yellow);
/*border: 2px solid rgba(255, 140, 0, 0.3);*/
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
   
}
