.bfill {  
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/flowerblueyellow.svg");
  background-size: cover;
  background-position: center;
}


/*
.page-decoration {
  position: fixed;
  top: 0;
  z-index: 1;
}


.page-decoration.left {
  left: 0;
}

.page-decoration.right {
  right: 0;
}


.page-decoration.left {
  left: 0;

  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black 50%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    black 0%,
    black 50%,
    transparent 100%
  );
}

.page-decoration.right {
  right: 0;

  -webkit-mask-image: linear-gradient(
    to left,
    black 0%,
    black 50%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to left,
    black 0%,
    black 50%,
    transparent 100%
  );
}

*/
