.circular-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

circular-img2 {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

img3 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
