.bfill {  
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://github.com/taniyapublicspeaking/lander/blob/main/images/flowerblueyellow.svg");
  background-size: cover;
  background-position: center;
}


.image-box {
  width: 400px;
  height: 250px;
  background-image: url("https://github.com/taniyapublicspeaking/lander/blob/main/images/flowerblueyellow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
