<section id="educator" class="section educator-section">

     <div class="container">

                <div class="section-heading">
                    <p class="eyebrow">Meet the Educator</p>                    
                </div>


<div class="educator-card">


     
               
<div class="educator-image">

<div class="educator-placeholder">
     
<svg viewBox="0 0 200 200" aria-hidden="true">

  <!-- BLUE RING -->
  <g>
    <image
      href="images/ringblue1.svg"
      x="10"
      y="10"
      width="180"
      height="180"
      preserveAspectRatio="xMidYMid meet">

      <!-- Rotation -->
      <animateTransform
        attributeName="transform"
        type="rotate"
        values="0 100 100; 360 100 100"
        dur="20s"
        repeatCount="indefinite"/>

      <!-- Expansion / contraction -->
      <animateTransform
        attributeName="transform"
        type="scale"
        values="1; 1.08; 1"
        dur="8s"
        repeatCount="indefinite"
        additive="sum"/>

    </image>
  </g>


  <!-- ORANGE RING -->
  <g>
    <image
      href="images/ringorange1.svg"
      x="10"
      y="10"
      width="180"
      height="180"
      preserveAspectRatio="xMidYMid meet">

      <!-- Rotation in opposite direction -->
      <animateTransform
        attributeName="transform"
        type="rotate"
        values="360 100 100; 0 100 100"
        dur="28s"
        repeatCount="indefinite"/>

      <!-- Expansion / contraction -->
      <animateTransform
        attributeName="transform"
        type="scale"
        values="1; 1.12; 1"
        dur="10s"
        repeatCount="indefinite"
        additive="sum"/>

    </image>
  </g>


  <!-- PROFILE CLIP -->
  <defs>
    <clipPath id="profileClip">
      <circle cx="100" cy="100" r="95"/>
    </clipPath>
  </defs>


  <!-- PROFILE -->
  <image
    href="images/profiletr.png"
    x="1"
    y="1"
    width="210"
    height="210"
    preserveAspectRatio="xMidYMid slice"
    clip-path="url(#profileClip)"/>


  <!-- WHITE BORDER -->
  <circle
    cx="100"
    cy="100"
    r="95"
    fill="none"
    stroke="#ffffff"
    stroke-width="4"/>

</svg>
     
</div>

</div>


            
            
                    <div class="educator-info">

                        <h3>Taniya Withanage</h3>

                        <p class="qualification">
                            BA (Hons) in English,
                            University of Peradeniya<br>
                            ACG, CL
                        </p>

                        <p>
                            An educator with 20+ years of teaching experience
                            at a leading international school.
                        </p>

                        <p>
                            Recipient of the Advanced Communicator Gold and
                            Leadership Awards from Toastmasters International.
                        </p>

                        <div class="awards">

                            <span class="award">
                                20+ Years<br>
                                <small>Teaching Experience</small>
                            </span>

                            <span class="award">
                                ACG, CL<br>
                                <small>Toastmasters</small>
                            </span>
                        </div>
                    </div>

            


                 

                </div>

            </div>

        </section>
