<section id="educator" class="section educator-section div-container-section">

            <div class="container div-container">

                <div class="section-heading">
                    <p class="eyebrow">Meet the Educator</p>                    
                </div>


                <div class="educator-card div-container-card">                           


                    <div class="educator-info div-container-info">

                        <h3>Taniya Withanage</h3>
                                
                        
                    </div>

                </div>

            </div>

        </section>
