<section id="learn" class="section learn-section">
                   
            <div class="container">
              
                <div class="section-heading">
                    <p class="eyebrow">What Your Child Will Learn</p>                

                    <p>
                        Practical skills designed to help your child
                        communicate with confidence and clarity.
                    </p>
                </div>


                <div class="learning-grid">

                    <!-- Public Speaking -->
                    <article class="learning-card">
                        <div class="card-icon">                            
                        <img class="icon-cards" src="images/ic-gpps.png" alt="Children">
                        </div>

                        <h3>Public Speaking</h3>

                        <p>
                            Build confidence, improve voice projection,
                            body language and presentation skills.
                        </p>
                    </article>


                    <!-- Creative Writing -->
                    <article class="learning-card">
                        <div class="card-icon">                            
                        <img class="icon-cards" src="images/Ic-gpcw.png" alt="Children">
                        </div>

                        <h3>Creative Writing</h3>

                        <p>
                            Develop imaginative ideas, create engaging stories
                            and write with expression.
                        </p>
                    </article>


                    <!-- Grammar -->
                    <article class="learning-card">
                        <div class="card-icon">
                            <img class="icon-cards" src="images/ic-gpgrm.png" alt="Children">
                        </div>

                        <h3>Grammar</h3>

                        <p>
                            Strengthen grammar, vocabulary and sentence
                            construction for more accurate and effective
                            communication.
                        </p>
                    </article>


                    <!-- Spoken English -->
                    <article class="learning-card">
                        <div class="card-icon">
                        <img class="icon-cards" src="images/ic-gpse.png" alt="Children">
                        </div>

                        <h3>Spoken English</h3>

                        <p>
                            Improve speaking skills to communicate with greater
                            confidence, ease and clarity.
                        </p>
                    </article>

                </div>

            </div>
        </section>
