<!--<section id="learn" class="hero learn-section programme-section">-->
<section id="learn" class="hero">
  
            <div class="container">            
              
                <div class="">
                    <p class="eyebrow">What Your Child Will Learn</p>                

                    <p>
                        Practical skills designed to help your child
                        communicate with confidence and clarity.
                    </p>
                </div>

              

              
<div class="learning-grid">


<!-- Public Speaking -->
<article class="learning-card">

    <div class="learning-image">
        <img
            class="icon-cards"
            src="images/ic-gpps.webp"
            alt="Children learning public speaking"
            loading="lazy"
        >
    </div>

    <div class="learning-description learning-description-1">
        <p>
            Build confidence, improve voice projection,
            body language and presentation skills.
        </p>
    </div>

</article>


<!-- Creative Writing -->
<article class="learning-card">

    <div class="learning-image">
        <img
            class="icon-cards"
            src="images/Ic-gpcw.webp"
            alt="Children doing creative writing"
            loading="lazy"
        >
    </div>

    <div class="learning-description learning-description-2">
        <p>
            Develop imaginative ideas, create engaging stories
            and write with expression.
        </p>
    </div>

</article>


<!-- Grammar -->
<article class="learning-card">

    <div class="learning-image">
        <img
            class="icon-cards"
            src="images/ic-gpgrm.webp"
            alt="Children learning grammar"
            loading="lazy"
        >
    </div>

    <div class="learning-description learning-description-3">
        <p>
            Strengthen grammar, vocabulary and sentence
            construction for more accurate and effective
            communication.
        </p>
    </div>

</article>


<!-- Spoken English -->
<article class="learning-card">

    <div class="learning-image">
        <img
            class="icon-cards"
            src="images/ic-gpse.webp"
            alt="Children practising spoken English"
            loading="lazy"
        >
    </div>

    <div class="learning-description learning-description-4">
        <p>
            Improve speaking skills to communicate with greater
            confidence, ease and clarity.
        </p>
    </div>

</article>


</div>


                

            </div>
        </section>
