<section id="learn" class="section learn-section div-container-section">
                   
            <div class="container div-container">
              
                <div class="section-heading">
                    <p class="eyebrow">What Your Child Will Learn</p>                

                    <p>
                        Practical skills designed to help your child
                        communicate with confidence and clarity.
                    </p>
                </div>

                <div class="learning-grid div-container-info">

                    <!-- Public Speaking -->
                    <article class="learning-card">
                                              
                        <img class="icon-cards" src="images/ic-gpps.webp" alt="Children">
                        
                        <p>
                            Build confidence, improve voice projection,
                            body language and presentation skills.
                        </p>
                      
                    </article>


                    <!-- Creative Writing -->
                    <article class="learning-card">
                                      
                        <img class="icon-cards" src="images/Ic-gpcw.webp" alt="Children">

                        <p>
                            Develop imaginative ideas, create engaging stories
                            and write with expression.
                        </p>
                      
                    </article>


                    <!-- Grammar -->
                    <article class="learning-card">
                      
                        <img class="icon-cards" src="images/ic-gpgrm.webp" alt="Children">
                        
                        <p>
                            Strengthen grammar, vocabulary and sentence
                            construction for more accurate and effective
                            communication.
                        </p>
                      
                    </article>


                    <!-- Spoken English -->
                    <article class="learning-card">
                        
                        <img class="icon-cards" src="images/ic-gpse.webp" alt="Children">

                        <p>
                            Improve speaking skills to communicate with greater
                            confidence, ease and clarity.
                        </p>
                      
                    </article>

                </div>

            </div>
        </section>
