<section class="location-section">
            
<div class="container location-container">

    <div class="location-box">

            <div class="location-content">                   

                    <p class="eyebrow">Location</p>
                        
                    <h3>Kings Institute, Nugegoda</h3>

                    <p class="location-address">                    
                    <a href="https://www.google.com/maps/search/?api=1&query=No.+239%2F2+High+Level+Road%2C+Nugegoda%2C+Sri+Lanka" target="_blank"  rel="noopener noreferrer">
                       📍 View Location on Google Maps </a>           
                    </p>

                    <svg class="svg-borderloc" viewBox="0 0 250 150" aria-hidden="true">

                        <image x="62" y="10" class="i-gploc2" href="images/i-gploc2.webp" preserveAspectRatio="xMidYMid meet"/>                       

                        <a href="https://www.google.com/maps/search/?api=1&query=No.+239%2F2+High+Level+Road%2C+Nugegoda%2C+Sri+Lanka" target="_blank">
                         <!-- Invisible larger click target -->
                        <circle cx="125" cy="25" r="20" fill="transparent" style="cursor: pointer;"/>    

                        <!-- Pulsating border -->
                        <circle cx="125" cy="25" r="5" class="map-pin-pulse"/>

                       </a>
    
                    </svg>

            </div>

        </div>

</div>
            
</section>
