<section id="registration" class="section registration-section">            
            <div class="container1">
                <div class="registration-box1">
                      
                    <div class="registration-gift-text1">

                        <div class="registration-gift-text">
                        <p class="eyebrow">Registration2 </p>
                        </div>
                                
                        <div>
                        <h2>Give Your Child the <span>Gift of Confidence</span></h2>
                        <img  class="registration-gift" src="images/gift.svg" alt="gift">
                        </div>

                        <div class="registration-gift-text">
                        <p>We are delighted to have you join us.</p>
                        <p>
                            Please complete the registration form below to
                            enrol your child in this specially designed English
                            programme for children aged 11–13.
                        </p>
                         <a href="https://forms.gle/Ben2G7bEfw4qzohM9" class="btn btn-primary btn-large">
                            Complete Registration Form
                            <span aria-hidden="true">→</span>
                         </a>
                        </div>
                        
                                
                    </div>                     

                </div>
            </div>
        </section>
